<!-- Acknowledgement: Inspired by Daniel Christian Mandolang's HTML-->

{% extends 'base.html' %}

{% block meta %}
<title>Creating Task for TodoList</title>
{% endblock meta %}

{% block content %}

<div class="create_task">

    <h1>Create TodoList Now</h1>

        <form method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Title </td>
                    <td>
                        <input type="text" name="title" placeholder="Title" class="form-control rounded-md w-full">
                    </td>
                </tr>
                <tr>
                    <td>Description </td>
                    <td>
                        <textarea type="description" name="description" placeholder="Description" class="form-control rounded-md w-full"> </textarea>
                    </td>
                </tr>
                <tr>
                    <td>Date </td>
                    <td>
                        <input type="date" name="date" placeholder="Date" class="form-control rounded-md w-full">
                    </td>
                </tr>
            </table>
            <button class="submit mt-6 px-4 py-2 bg-gradient-to-r from-green-600 to-orange-600 text-white rounded-md">
                Save
            </button>
        </form>

    {% if messages %}
        <ul class = "messages">
            {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
        </ul>
    {% endif %}

</div>

{% endblock content %}