<!--Bagian Pembuatan Kartu ToDoList ini diinspirasi oleh pembuatan yang dilakukan oleh Rendy Arya Kemal-->

{% extends 'base.html' %}

{% block content %}

<html lang="en" dir="ltr">
    <head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
    *{
      margin: 0;
      padding: 0;
      font-family: "Poppins", sans-serif;
    }
    body{
      margin: 0;
      padding: 0;
      background: linear-gradient(120deg,#2980b9, #f7501e);
    }
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    }
    
    </style>
        <meta charset="utf-8">
        <title>My Own TodoList</title>
    </head>
    <body>
      <nav class="navbar" style="background-color: #9e8d5d;">
        <div class="title">
          <h1 class="title" style="color:white;">My Own TodoList: PBP Assignment 4-6</h1>
        </div>
        <button><a class="btn btn-primary" href="{% url 'todolist:logout' %}">Log Out</a></button>
      </nav>
      <br></br>
    <p style="color:white;">
        Greetings, {{ user.get_username }}!
    </p>

    <button><a class="btn btn-danger" href="{% url 'todolist:create_todolist' %}">Create New Task</a></button>

    <br></br>
    {% if messages %}
  <ul class="alert alert-info flex-col text-left text-info-content">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for data in list_todolist %}
    <div class="card bg-neutral text-neutral-content">
      <div class="card-body items-center text-center">
        <h2 class="card-title">{{ data.title }}</h2>
        <h6 class="card-subtitle mb-2 text-muted">{{ data.date }} | {{ data.is_finished | yesno:"Finished,Not Finished" }}</h6>
        <p class="card-text">{{ data.description }}<p>
        
        <div class="card-actions justify-end">
          <form action="{% url 'todolist:update_todolist' id=data.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary">Toggle Finish</button>
          </form>
          <form action="{% url 'todolist:delete_todolist' id=data.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <script type="text/javascript">
    
  </script>
{% endblock content %}