/*
This is not my own code implementation
Implementasi yang saya pahami adalah dengan melakukan loop seperti biasa, pada Lab sebelumnya
Tetapi, saya melihat ada teman saya yang mengimplement seperti ini, jadi saya berusaha coba ketik ulang untuk memahami yang dia kerjakan
Dengan begitu, saya juga berusaha untuk mempelajari hal-hal yang belum pernah saya pelajari sebelumnya (terutama tentang css)
Full credit goes to Daniel Christian Mandolang - 2106630006
Check katalog.html for more details
*/

body {
    /* background-color: black; */
    padding: 0 1rem 1rem 1rem;
  }
  
  .title-container {
    display: inline-block;
  }
  
  .title {
    background: linear-gradient(90deg, rgb(139, 251, 10) 0%, rgb(183, 0, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-right: 0;
  }
  
  .table {
    margin-top: 2rem;
    background-color: black;
  }
  
  .table-cell {
    background-color: rgb(252, 225, 225);
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  
  .table-header-cell {
    background-color: gold;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }